#LocMap {
    /* neem de volle breedte in van het parent element */
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

#mapP1 {
    height: 250px;
    width: 100%;
    border: 1px solid red;
}