#apMap {
    /* neem de volle breedte in van het parent element en heeft een hoogte van 250px */
    width: 100%;
    height: 250px;
    margin-left: .75rem;
}

#mapP1 {
    height: 250px;
    width: 100%;
    margin-left: .75rem;
}