/*



*/


body {
    background-color: rgba(0, 128, 0, 0.3);
    color: #000000; 
}
a{
    color:#000000;
}

.navbar {
    background-color: #e6e2d3;
    color: #000000;
}

.custom-green {
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid rgba(0, 128, 0, 0.3);
    color: #000000;
    box-shadow: none;
    transition: background-color 0.2s, border-color 0.2s;
}

.custom-green:hover,
.custom-green:focus {
    background-color: rgba(0, 128, 0, 0.4);
    border-color: rgba(0, 128, 0, 0.4);
    color: #000000;
    box-shadow: none;
}

.custom-green:active {
    background-color: rgba(0, 128, 0, 0.5);
    border-color: rgba(0, 128, 0, 0.5);
    color: #000000;
    box-shadow: none;
}





.dropdown-menu li a.dropdown-item:hover,
.dropdown-menu li a.dropdown-item:focus {
    background-color: rgba(0, 128, 0, 0.3);
    color: #000000; 
}

.aside-color{

    background-color: rgba(0, 128, 0, 0.3);
}

.progressbar-color{
    background-color:#C8C8C8;
}



.footer-content {
    justify-content: left; 
}



@media (min-width: 500px) {
    .footer-content {
        justify-content: center; /* Centreren op grotere schermen */
    }
    .padding-start-aside{
        padding-left: 3rem;
    }
}
