


body {
    background-color: rgba(0, 128, 0, 0.3);
    color: #000000; 
}


a{
    color:#000000;
}

.navbar {
    background-color: #e6e2d3;
    color: #000000;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: rgba(0, 128, 0, 0.6);
    border-radius: 5px;
    transition: 0.2s;
}

.navbar .nav-link.active {
    color: rgba(0, 128, 0, 0.6);
    border-radius: 5px;
    font-weight: bold;
}


.custom-green {
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid rgba(0, 128, 0, 0.3);
    color: #000000;
    box-shadow: none;
    transition: background-color 0.2s, border-color 0.2s;
}

.custom-green:hover,
.custom-green:focus {
    background-color: rgba(0, 128, 0, 0.7);
    border-color: rgba(0, 128, 0, 0.7);
    color: #000000;
    box-shadow: none;
}

.custom-green:active {
    background-color: rgba(0, 128, 0, 0.7);
    border-color: rgba(0, 128, 0, 0.7);
    color: #000000;
    box-shadow: none;
}





.dropdown-menu li a.dropdown-item:hover,
.dropdown-menu li a.dropdown-item:focus {
    background-color: rgba(0, 128, 0, 0.3);
    color: #000000; 
}

.aside-color{

    background-color: rgba(0, 128, 0, 0.3);
}

.progressbar-color{
    background-color:#C8C8C8;
}



.uniforme-afbeelding {
    height: 400px; 
    object-fit: cover;
}

.uniforme-card-image {
    width: 100%;
  height: 200px; 
  object-fit: contain;  
  object-position: center;
  background-color: #f8f9fa; 
  display: block;
}

footer{
    margin-top: 1rem;
}


.footer-content {
    justify-content: left; 
}

/* Basisinstelling: 16x9 */
.responsive-ratio {
  aspect-ratio: 16 / 9;
}
.responsive-afbeelding {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.carousel-inner {
  height: 400px; 
}

.carousel-item {
  height: 100%;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.progress, .progress-stacked {
    --bs-progress-height: 1.5rem;
    --bs-progress-font-size: 1rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
    border: 0.5px solid #000000;
    }



@media (min-width:250px){
    .progress, .progress-stacked {
        --bs-progress-height: 1.5rem;
        --bs-progress-font-size: 0.7rem;
        --bs-progress-bg: var(--bs-secondary-bg);
        --bs-progress-border-radius: var(--bs-border-radius);
        --bs-progress-box-shadow: var(--bs-box-shadow-inset);
        --bs-progress-bar-color: #fff;
        --bs-progress-bar-bg: #0d6efd;
        --bs-progress-bar-transition: width 0.6s ease;
        display: flex;
        height: var(--bs-progress-height);
        overflow: hidden;
        font-size: var(--bs-progress-font-size);
        background-color: var(--bs-progress-bg);
        border-radius: var(--bs-progress-border-radius);
        border: 0.5px solid #000000;
        }
}

@media (min-width: 500px) {
    .footer-content {
        justify-content: center; /* Centreren op grotere schermen */
    }
    .padding-start-aside{
        padding-left: 3rem;
    }
    .progress, .progress-stacked {
        --bs-progress-height: 1.5rem;
        --bs-progress-font-size: 1rem;
        --bs-progress-bg: var(--bs-secondary-bg);
        --bs-progress-border-radius: var(--bs-border-radius);
        --bs-progress-box-shadow: var(--bs-box-shadow-inset);
        --bs-progress-bar-color: #fff;
        --bs-progress-bar-bg: #0d6efd;
        --bs-progress-bar-transition: width 0.6s ease;
        display: flex;
        height: var(--bs-progress-height);
        overflow: hidden;
        font-size: var(--bs-progress-font-size);
        background-color: var(--bs-progress-bg);
        border-radius: var(--bs-progress-border-radius);
        border: 0.5px solid #000000;
        }
       
}
@media (max-width: 768px) {
  .carousel-inner {
    height: 250px;
  }
  .uniform-card-image {
    height: 250px;
  }
}

@media (min-width: 769px) {
  .carousel-inner {
    height: 400px;
  }
  .uniform-card-image {
    height: 150px;
  }
}


/* Vanaf 1200px overschakelen naar 21x9 */
@media (min-width: 1200px) {
  .responsive-ratio {
    aspect-ratio: 21 / 9;
  }
}
